### Python ###
*.py[cod]
*$py.class
__pycache__/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.coverage
.coverage.*
.cache
*.cover
*.py,cover

# Translations
*.mo

### Django ###
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Sensitive or high-churn files
.idea

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/