{% extends "base.html" %}
{% block content %}
  <h1 class="header-content">
    <div class="header-content">Our cooks:</div>
    
    <a href="{% url 'kitchen:cook-create' %}" class="btn btn-primary link-to-page">
      Add cook
    </a>
  </h1>
  <section class="main-content">
    {% if cook_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Years of experience</th>
      </tr>
      {% for cook in cook_list %}
        <tr>
          <td>{{ cook.id }}</td>
          <td><a href="{% url 'kitchen:cook-detail' cook.id%}">{{ cook.username }} {% if user == cook %} (Me){% endif %}</a></td>
          <td>{{ cook.years_of_experience }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No cooks are available.</p>
  {% endif %}
  </section>
{% endblock %}
