{% extends "base.html" %}

{% block content %}
	<h1>Cook: {{ cook.username }}</h1>
  
  <p><strong>First name:</strong> {{ cook.first_name }}</p>
  <p><strong>Last name:</strong> {{ cook.last_name }}</p>
  <p><strong>Is staff:</strong> {{ cook.is_staff }}</p>
  <p><strong>Experience:</strong> {{ cook.years_of_experience }} years</p>

  
  <h3>Dishes:</h3>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
    {% for dish in cook.dishes.all %}
    <tr>
      <td>{{ dish.name }}</td>
      <td>{{ dish.description }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}