{% extends "base.html" %}

{% block content %}
	<h1>
    Cook: {% if cook.first_name and cook.last_name %}{{ cook.get_full_name }}{% else %}{{ cook.username }}{% endif %}
    <a href="{% url 'kitchen:cook-delete' cook.id%}" class="btn btn-danger link-to-page update" style="float: right">
      Delete cook
    </a> 
  </h1>
  <section class="main-content">
    {% if cook.get_full_name %}
      <p><strong>First name:</strong> {{ cook.first_name }}</p>
      <p><strong>Last name:</strong> {{ cook.last_name }}</p>
    {% endif %}
    <p><strong>Is staff:</strong> {{ cook.is_staff }}</p>
    <p>
      <strong>Experience:</strong> {{ cook.years_of_experience }} years
      <a href="{% url 'kitchen:cook-xp-update' cook.id %}" class="update">Update</a>
    </p>
  
    
    <h3>Dishes:</h3>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      {% for dish in cook.dishes.all %}
      <tr>
        <td><a href="{% url 'kitchen:dish-detail' dish.id%}">{{ dish.name }}</a></td>
        <td>{{ dish.description }}</td>
      </tr>
      {% endfor %}
    </table>
  </section>
  
{% endblock %}
