{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Our menu:
    <a href="{% url 'kitchen:dish-create' %}" class="btn btn-primary link-to-page" style="float: right">
      Add dish
    </a>
  </h1>
  <form action="" method="get" class="form-inline">
  {{ search_form|crispy }}
  <input type="submit" value="🔍" class="btn btn-secondary">
  </form>
  {% if dish_list %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
      {% for dish in dish_list %}
        <tr>
          <td><a href="{% url 'kitchen:dish-detail' dish.id%}">{{ dish.name }}</a></td>
          <td>{{ dish.description }}</td>
          <td>{{ dish.price }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No dishes in the menu yet.</p>
  {% endif %}
{% endblock %}