{% extends "base.html" %}

{% block content %}
	<h1>
    Our ingredients:
    <a href="{% url 'kitchen:ingredient-create' %}" class="btn btn-primary link-to-page" style="float: right">
      Add ingredient
    </a>
  </h1>
  {% if ingredient_list %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Number of dishes demanding</th>
      </tr>
      {% for ingredient in ingredient_list %}
        <tr>
          <td><a href="{% url 'kitchen:ingredient-detail' ingredient.id%}">{{ ingredient.name }}</a></td>
          <td>{{ ingredient.dishes.count }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}